###############################################################
### Default Configuration for development environment       ###
### This file with be used on local dev and CI environments ###
###############################################################
version: '2'

services:
  rabbitmq:
      image: bitnami/rabbitmq:latest
      networks:
        - microservices
      environment:
        - RABBITMQ_USERNAME=hystrixUser
        - RABBITMQ_PASSWORD=password
      ports:
        - "5672:5672"
        - "15672:15672"
      expose:
        - "5672"
        - "15672"
  #rabbitmq url http://localhost:15672/

  config-api:
      image: sleepingtalent/configuration-api:latest
      networks:
        - microservices
      environment:
        - SERVER_PORT=1111
        - SPRING_PROFILES_ACTIVE=test
        - GIT_CONFIG_URL=https://github.com/BabcockEMTDevelopment/test-configuration-properties
      ports:
        - "1111:1111"
      volumes:
        - /home/developer/docker-logs/:/app/log
      expose:
        - "1111"
  #http://localhost:1111/config-api/info

  security-api:
      image: sleepingtalent/security-api:latest
      networks:
        - microservices
      environment:
        - SERVER_PORT=1112
        - SPRING_PROFILES_ACTIVE=test
      ports:
        - "1112:1112"
      depends_on:
        - config-api
      command: ["dockerize", "-wait", "http://config-api:1111/config-api/security-api/test", "-timeout", "380s", "--", "/bin/sh", "-c", "java -jar app.jar --server.port=1112 --spring.profiles.active=test --spring.cloud.config.uri=http://config-api:1111/config-api/"]
      volumes:
        - /home/developer/docker-logs/:/app/log
      expose:
        - "1112"
  #http://localhost:1112/auth/info

  turbine-server:
      image: sleepingtalent/turbine-server:latest
      networks:
        - microservices
      environment:
        - SERVER_PORT=1113
        - SPRING_PROFILES_ACTIVE=test
      ports:
        - "1113:1113"
      depends_on:
        - config-api
      command: ["dockerize", "-wait", "http://config-api:1111/config-api/turbine-server/test", "-wait", "tcp://rabbitmq:5672", "-timeout", "380s", "--", "/bin/sh", "-c", "java -jar app.jar --server.port=1113 --spring.profiles.active=test --spring.cloud.config.uri=http://config-api:1111/config-api/"]
      volumes:
        - /home/developer/docker-logs/:/app/log
      expose:
        - "1113"
  #http://localhost:1113/hystrix
  #http://turbine-server:8989/turbine.stream

networks:
  microservices:
    driver: bridge